body {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.whole-box {
  width: 1230px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 30px 30px;
}

.title {
  font-size: 22px;
  padding-left: 20px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
}

.items_in {
  cursor: pointer;
  display: grid;
  justify-self: center;
}

.items_in span {
  color: blue;
}

@media (max-width: 1024px) {
  .whole-box {
    width: 100%;
  }
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
